.crear-agenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-tarjetprofecional-calendario{
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card-profesional-notificacion {
    width: 350px;
    min-height: 400px;
    background: #f8fafe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 20px;
    gap: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* Sombra más notable */
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    border: 2px solid transparent;
}

.card-profesional-notificacion:hover {
    transform: scale(1.03);
    border: 2px solid #90e0ef;
    box-shadow: 0 0 20px #90e0efaa;
}


.card-profesional-notificacion:hover {
    transform: scale(1.02);
}

.icono-doctor-profesional {
    width: 80px;
    height: 80px;
    margin: 10px 0;
}

.icono-doctor-profesional path {
    stroke: #00b4d8;
}

.titulo-profesional-notif {
    font-weight: 700;
    font-size: 1rem;
    color: #0077b6;
    margin-bottom: 10px;
}

.dato-profesional {
    font-size: 0.85rem;
    color: #333;
    font-weight: 500;
    margin: 0;
}


.form-crear-agenda{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    /* padding: 32px; */
    /* box-sizing: border-box; */
    gap: 10px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.header-crear-agenda{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color:  hsl(197, 100%, 65%);
    color: white;
}

.header-crear-agenda-titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}




.btn-crear-agenda-medico {
    --h-button: 48px;
    --w-button: 102px;
    --round: 0.75rem;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.25s ease;
    background: radial-gradient(
        65.28% 65.28% at 50% 100%,
        rgba(0, 180, 216, 0.8) 0%,
        rgba(0, 180, 216, 0) 100%
        ),
        linear-gradient(0deg, #0077b6, #00b4d8);
    border-radius: var(--round);
    border: none;
    outline: none;
    padding: 12px 18px;
}

.btn-crear-agenda-medico::before,
.btn-crear-agenda-medico::after {
    content: "";
    position: absolute;
    inset: var(--space);
    transition: all 0.5s ease-in-out;
    border-radius: calc(var(--round) - var(--space));
    z-index: 0;
}

.btn-crear-agenda-medico::before {
    --space: 1px;
    background: linear-gradient(
        177.95deg,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(255, 255, 255, 0) 100%
    );
}

.btn-crear-agenda-medico::after {
    --space: 2px;
    background: radial-gradient(
        65.28% 65.28% at 50% 100%,
        rgba(0, 180, 216, 0.7) 0%,
        rgba(0, 180, 216, 0) 100%
        ),
        linear-gradient(0deg, #0077b6, #00b4d8);
    }

.btn-crear-agenda-medico:active {
    transform: scale(0.95);
}

.fold {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    background: radial-gradient(
        100% 75% at 55%,
        rgba(0, 180, 216, 0.8) 0%,
        rgba(0, 180, 216, 0) 100%
    );
    box-shadow: 0 0 3px black;
    border-bottom-left-radius: 0.5rem;
    border-top-right-radius: var(--round);
}

.fold::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150%;
    height: 150%;
    transform: rotate(45deg) translateX(0%) translateY(-18px);
    background-color: #e8e8e8;
    pointer-events: none;
}

.btn-crear-agenda-medico:hover .fold {
    margin-top: -1rem;
    margin-right: -1rem;
}

.points_wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.points_wrapper .point {
    bottom: -10px;
    position: absolute;
    animation: floating-points infinite ease-in-out;
    pointer-events: none;
    width: 2px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 9999px;
}

@keyframes floating-points {
    0% {
        transform: translateY(0);
    }
    85% {
        opacity: 0;
    }
    100% {
        transform: translateY(-55px);
        opacity: 0;
    }
    }

.points_wrapper .point:nth-child(1) { left: 10%; opacity: 1; animation-duration: 2.35s; animation-delay: 0.2s; }
.points_wrapper .point:nth-child(2) { left: 30%; opacity: 0.7; animation-duration: 2.5s; animation-delay: 0.5s; }
.points_wrapper .point:nth-child(3) { left: 25%; opacity: 0.8; animation-duration: 2.2s; animation-delay: 0.1s; }
.points_wrapper .point:nth-child(4) { left: 44%; opacity: 0.6; animation-duration: 2.05s; }
.points_wrapper .point:nth-child(5) { left: 50%; opacity: 1; animation-duration: 1.9s; }
.points_wrapper .point:nth-child(6) { left: 75%; opacity: 0.5; animation-duration: 1.5s; animation-delay: 1.5s; }
.points_wrapper .point:nth-child(7) { left: 88%; opacity: 0.9; animation-duration: 2.2s; animation-delay: 0.2s; }
.points_wrapper .point:nth-child(8) { left: 58%; opacity: 0.8; animation-duration: 2.25s; animation-delay: 0.2s; }
.points_wrapper .point:nth-child(9) { left: 98%; opacity: 0.6; animation-duration: 2.6s; animation-delay: 0.1s; }
.points_wrapper .point:nth-child(10) { left: 65%; opacity: 1; animation-duration: 2.5s; animation-delay: 0.2s; }

.inner {
    z-index: 2;
    gap: 6px;
    position: relative;
    width: 100%;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    transition: color 0.2s ease-in-out;
}

.inner svg.icon {
    width: 18px;
    height: 18px;
    transition: fill 0.1s linear;
}

.btn-crear-agenda-medico:hover svg.icon {
    fill: transparent;
    animation: dasharray 1s linear forwards, filled 0.1s linear forwards 0.95s;
}

@keyframes dasharray {
    from { stroke-dasharray: 0 0 0 0; }
    to { stroke-dasharray: 68 68 0 0; }
}

@keyframes filled {
    to { fill: white; }
}



