/* .formulario-registro {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  max-width: 800px;
  margin: 0 auto;
}

.formulario-registro > button,
.formulario-registro > .boton-container {
  grid-column: 1 / -1; 
  display: flex;
  justify-content: center; 
}

.titulo-registro{
    margin-bottom: 50px;
} */