@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.cont-formulario-registrar-personalm{
  width: 100%;
  height: auto;
  /* border: solid black 2px; */
}

.header-form-personal-medico{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color:  hsl(197, 100%, 65%);
    color: white;
    border-bottom: solid 3px  hsl(197, 100%, 50%);
}
.josessasa{
    width: 100%;
    height: auto;
    /* border: solid black 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #f9f9fb; /* tono muy suave para resaltar contenido */
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); /* sombra suave */
    /* padding: 40px; */
    /* margin-top: 20px; */
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
  
}
.cont-tlt-registro-medico{
  width: 100%;
  height: 50px;
  /* border: solid blueviolet 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.titulo-registro-medico-personal{
  font-size: 26px;
  font-weight: 500;
}
.formulario-registro {
  width: 800px;
  height: 750px;
  overflow-y: auto;  
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
  /* padding: 32px; */
  /* box-sizing: border-box; */
}
.contenedor-etiqueta-form-medico{
  width: 100%;
  height: 100px;
  /* border: blue solid 2px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.cont-btn-form-personam{
  width: 100%;
  height: 80px;
  /* border: saddlebrown solid 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-reGistro-medico-titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.cont-logo-flex-start{
  width: 100%;
  height: 100px;
  /* border: solid salmon 2px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
}


