.ver-servicios {
    margin-top: 20px;
    width: 75vw;
  padding: 50px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ver-servicios__titulo {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #004080;
  font-weight: 600;
}

.ver-servicios__tabla {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ver-servicios__tabla__thead {
  background-color: #004080;
  color: white;
}

.ver-servicios__tabla__tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ver-servicios__tabla__tr:hover {
  background-color: #e6f2ff;
  transition: background-color 0.3s;
}

.ver-servicios__tabla th,
.ver-servicios__tabla td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.ver-servicios__checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #004080;
}


.ver-usuarios {
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f8fd;
}

.ver-usuarios__titulo {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #023e8a;
  margin-bottom: 20px;
}

.ver-servicios__tabla {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 20px rgba(0, 119, 182, 0.08);
  border-radius: 12px;
  overflow: hidden;
}

.ver-usuarios__tabla__thead {
  background: linear-gradient(to right, #0077b6, #00b4d8);
  color: white;
}

.ver-usuarios__tabla__tr {
  transition: background-color 0.3s ease;
}

.ver-usuarios__tabla__tr:hover {
  background-color: #e8f4fa;
}

.ver-usuarios__tabla__thead th,
.ver-usuarios__tabla__tbody td {
  padding: 14px 18px;
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #dce6f1;
}

.ver-usuarios__tabla__tbody td {
  color: #333;
}

.vver-usuarios__checkbox {
  transform: scale(1.2);
  accent-color: #0077b6; /* Cambia el color del checkbox */
  cursor: pointer;
}

.item-ver-servicios{
  color: black;
}
