.card-cita__barra-citas {
  height: 6px;
  width: 100%;
  background-color: #eee;
  margin-top: 4px;
  border-radius: 4px;
  overflow: hidden;
}

.card-cita__progreso {
  height: 100%;
  background-color: #00b894; /* verde clínico */
  transition: width 0.3s ease;
}

.card-cita__contador {
  font-size: 0.7rem;
  color: #444;
  margin-top: 2px;
  display: block;
}
