.btnform{
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: #32A89C;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btnform:hover{
    color: black;
}

.btnform:after {
    content: "";
    background: #94f5e4;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.btnform:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}