/* Botón elegante para formulario de registro de médico */
.btn-registro-medico {
  width: 6.5em;
  height: 2.3em;
  margin: 0.5em;
  background:  hsl(197, 97%, 42%); /* Verde a aguamarina */
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color 0.5s ease;
}

.btn-registro-medico:hover {
  color: #0f172a; /* Oscuro para contraste */
}

.btn-registro-medico::after {
  content: "";
  background:  hsl(197, 97%, 65%);
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s ease;
}

.btn-registro-medico:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}
