.comboBox-container {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 16px; */
  font-family: 'Poppins', sans-serif;
  gap: 15px;
}

.comboBox-label {
  font-size: 16px;
  color: #1b1b1b;
  /* margin-bottom: 6px; */
}

.comboBox-select {
    width: 300px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-left: 4px solid #32cdd4;
    background-color: #eeeeee;
    color: #1f1f1f;
    transition: all 0.3s ease;
    font-family: inherit;
    padding-left: 10px;
}

.comboBox-select:hover {
  background-color: #eeeeee;
}

.comboBox-select:focus {
  border-left: 4px solid#32cdd4;
  background-color: #f0fbff;
}
